button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}

a {
  color: #4CAF50;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 1rem;
}

a:hover {
  color: #3e8e41;
}

